<footer>

    <section id="section-logos">
        <a href="https://angular.io/" target="_blank"><img src="../../../assets/angular-logo.png"></a>
        <a href="https://ada.tech/" target="_blank"><img src="../../../assets/LogoADA.png"></a>
        <a href="https://www.becas-santander.com/pt_br/index.html" target="_blank"><img src="../../../assets/santander-logo.png"></a>
    </section>
    <section id="project">
        <p>Project carried out during the Santander Coders 2023 program in partnership with ADA Tech.</p>
        <p>The project idea consists of creating a resume using some of the tools we learned in the Angular-I module.</p>
    </section>

    <section id="container-collaborators">
        <button class="btn-contact" (click)="sendDevsdata()">Show Dev's</button>

    </section>
</footer>