$primary-color: #191C23;
$secondary-color: #8BC94F;
$background-color:#F7F7F7;

.progress-bar {
  font-family:'Helvetica';
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-bar {
  width: 50%;
  background-color: $primary-color;
  height: 15px;
  border-radius: 50px;
}

.skills {
  text-align: center;
  border-radius: 50px;
  height: 15px;
  color: $primary-color;
  background-color: $secondary-color;
  animation: slide 1.8s 0.8s forwards;
  
}

@keyframes slide {
  0% {
    width: 0%;
    opacity: 0.2;
    color: transparent;
  }

  50% {
    opacity: 0.6;
    color: transparent;
  }

}