.background-dialog{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;   
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;    
}

.container-dialog{
    background-color: white;
    border-radius: 10px;     
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    text-align: center;
    font-size: 28px;
    box-shadow: 7px 9px 16px 6px rgba(0, 0, 0, 0.5);
    position: relative;      
}

.devsImg{
  width: 230px;
  height: 230px;
  border-radius: 999px;
}

.icons{
    width: 40px;
    height: 40px;
    margin: 5px;
}

.icons2{
    width: 36px;
    height: 36px;
    margin: 5px;
}

.bt-close{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}