
  $primary-color: #191C23;
  $secondary-color: #8BC94F;
  $background-color:#F7F7F7;

*{
    box-sizing: border-box;

}

::-webkit-scrollbar {
  width: 5px;
}


::-webkit-scrollbar-track {
  background: #f7f7f7;
}


::-webkit-scrollbar-thumb {
  background: #191C23;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
}

main{
   padding: 40px 80px;
   margin: 0px !important;
   background-color: $primary-color;
}

.container-sections {
  background-color: $background-color;
  width: 100%;
}

.containeir-contents{
    overflow-y: scroll;
    height: calc(100vh - 48px);
}

.title{
    width: 180px;
    text-align: center;
    font-size: 28px;
    background-color: $primary-color;
    margin-inline: 40px;
    color: $secondary-color;
    padding: 5px 0px;

}

aside{
    height: calc(100vh - 48px );
    padding: 20px 0;
    overflow-x: hidden;
    
}

.button-container{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.btn-contact{

    width: 30rem ;
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $secondary-color;
      border-radius: 10rem;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: darken($secondary-color, 15%);
      transition: all .3s;
      border-radius: 10rem;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      &:before {
        width: 100%;
      }
    }
  }



