.infos-container, .infos-candidate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infos-container figure img {
  width: 250px;
  height: 250px;
  border-radius: 999px;
  object-fit: cover;
}

img:hover{
  cursor: pointer;
  filter: grayscale(90);
}

.change-photo{
  display: none;
}